body {
    background-color: rgb(255, 255, 255);
    padding-left: 5%;
    padding-right: 0;
    padding-top: 0.5%;
    font-size: 1rem;
    color: #FFFFFF;
    font-family: "Arial";
    margin-left:auto;
    margin-right:auto;
    position: relative;
}
h1 {
    margin: 0;
    color: #FFFFFF;
    font-size: 2rem;
}
p {
   color: black;
}
#match {
   white-space: pre;
   font-size: 1.5rem;
}
#title {
   background-color: #388E3C;
   padding:2% 0px 2% 0%;
   height: auto;
   text-align: center;
   width: 60%;
}
header {
    padding:60px 0 80px 0;
    background: url(https://gc2018.thecgf.com/themes/custom/commongame/logo.svg) no-repeat top left;
}

/* Dropdown menu */
#intialSports {
    margin: 0;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    width: 60%;
}

option {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #000000;
}

#intialSports:hover option {
    display: block;
}

/* Table with match data */

table, th, td {
    position: relative;
}
table {
    border-collapse: collapse;
    width: 60%;
}

th, td {
    margin: 0;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #212121;
}

th {
    margin: 0;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

/* Loading Icon */
#loadingIcon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loadingIcon:after {
    content: " ";
    display: block;
    width: 146px;
    height: 146px;
    border-radius: 50%;
    border: 5px solid rgb(0, 0, 0);
    border-color: rgb(0, 0, 0) transparent #fff transparent;
    animation: loadingIcon 1.2s linear infinite;
  }
  @keyframes loadingIcon {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* Hover Display Team Results */

.tooltip:first-of-type {
    color: blue;
}
#team {
    position: absolute;
    width: 0px;
    text-align: center;
    padding: 5px 0;
    width: 10%;

    /* Position the tooltip */
    z-index: 1;
   

    vertical-align: top;
    color: #212121;
    top: 25%;
    left: 60%;
}